# Ignore everything in this directory
*

# Except these specific files
!db_connect.py
!log.py
!web.py
!data_app.py
!clean_jobs.csv
!requirements.txt

# Also don't ignore the .gitignore file itself
!.gitignore
 